/* Color settings are imported from my .Xresources. */

@import "include-media";

$base-font-size: 16px;

body {
    background: #1d1f21;
    color: #c5c8c6;
    font-family: "Noto Sans CJK JP", "Noto Sans", sans-serif;
}

@include media("<desktop") {
    .container {
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@include media(">=desktop") {
    .container {
        display: flex;
        width: 60rem;
        margin: auto;
    }

    main {
        width: 40rem;
        padding-right: 2rem;
    }
}

h1 {
    font-size: $base-font-size * 2.2;
}

h2 {
    font-size: $base-font-size * 1.8;
}

h3 {
    font-size: $base-font-size * 1.6;
}

h4 {
    font-size: $base-font-size * 1.4;
}

h5 {
    font-size: $base-font-size * 1.3;
}

h6 {
    font-size: $base-font-size * 1.2;
}

a {
    color: #de935f;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p {
    font-size: $base-font-size;
    line-height: 1.5;

    &:lang(ja) {
        line-height: 1.8;
    }
}
