/* Color settings are imported from my .Xresources. */

@import "include-media";

body {
    background: #1d1f21;
    color: #c5c8c6;
    font-family: "Noto Sans CJK JP", "Noto Sans", sans-serif;
}

@include media("<desktop") {
    .container {
        display: block;
    }
}

@include media(">=desktop") {
    .container {
        display: flex;
        width: 60rem;
        margin: auto;
    }

    main {
        width: 40rem;
        padding-right: 2rem;
    }
}

a {
    color: #de935f;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p {
    font-size: 16px;
    line-height: 1.5;

    &:lang(ja) {
        line-height: 1.8;
    }
}
