<!DOCTYPE html>
<html lang="{{ lang }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page is defined %}
      {% set meta_title = page.title ~ " | " ~ config.title %}
      {% set meta_description = page.description
        | default(value=page.summary | default(value=config.description))
        | striptags
        | trim %}
      {% set canonical_url = page.permalink %}
    {% elif section is defined %}
      {% set meta_title = section.title ~ " | " ~ config.title %}
      {% set meta_description = section.description
        | default(value=config.description)
        | striptags
        | trim %}
      {% set canonical_url = section.permalink %}
    {% else %}
      {% set meta_title = config.title %}
      {% set meta_description = config.description | striptags | trim %}
      {% set canonical_url = config.base_url %}
    {% endif %}

    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_description }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {% block ogp %}
    {% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="favicons/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="favicons/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="favicons/favicon-16x16.png") }}">
    <link rel="manifest" href="{{ get_url(path="favicons/site.webmanifest") }}">

    <link rel="stylesheet" href="{{ get_url(path="base.css") }}">
  </head>

  <body>
    <h1><a href="{{ get_url(path="/") }}">{{ config.title }}</a></h1>

    <div class="container">
      <main>
        {% block content %}
        {% endblock %}
      </main>

      <nav>
        {% block sidemenu %}
        {% endblock %}
      </nav>
    </div>
  </body>

</html>
